/* Customization */
:root {
  --font-size: 14pt;
  --mobile-font-size: 11pt;
  --primary-color: #141441;
  --alert-color: #d82424;
  --roundness: 2px;
}

/* Base */
body {
  max-width: 700px;
  margin: auto;
  padding: 0 12px;
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family:
    /* macOS and iOS */
    -apple-system, BlinkMacSystemFont,
    /* Windows */
    "Segoe UI",
    /* Android */
    Roboto,
    /* GNU/Linux */
    Ubuntu, Cantarell, Oxygen,
    /* Basic web fallback */
    "Open Sans", "Helvetica Neue", Arial, sans-serif,
    /* Emoji fonts */
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, ::before, ::after {
  box-sizing: inherit;
}

@media(max-width: 700px) {
  body {
    font-size: var(--mobile-font-size);
  }
}

/* Header and footer */
header {
  text-align: right;
}

footer {
  text-align: center;
}

footer > * {
  margin: 0 6px;
}

/* Buttons and inputs */
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input:not([type]), input[type=password] {
  width: 100%;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  /* Hide arrows of inputs */
  /* https://stackoverflow.com/q/3790935 */
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  /* Hide arrows of inputs */
  /* https://stackoverflow.com/q/3790935 */
  -moz-appearance: textfield;
}

.counter {
  margin-top: 4px;
  font-size: 14pt;
}

.counter > * {
  width: 2em;
  height: 2em;
  text-align: center;
}

button, .button {
  display: inline-block;
  margin: 4px;
  padding: 8px 12px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: var(--roundness);
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: opacity 0.1s, transform 0.1s;
}

button:hover, .button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

/* Tables */
table {
  width: 100%;
}

table, th, td {
  border: 1px solid #c2c2c2;
  border-collapse: collapse;
}

th, td {
  padding: 4px 12px;
}

tr:nth-child(even) {
  background-color: #eee;
}


/* Overlays and modals */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadow {
  background-color: #0005;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.modal {
  max-width: 400px;
  padding: 16px;
  border-radius: var(--roundness);
  background-color: white;
}

/* Alert boxes */
.alert {
  width: 300px;
  padding: 8px 12px;
  position: fixed;
  top: 32px;
  left: calc(50vw - 150px);
  z-index: 2;
  border-radius: var(--roundness);
  color: white;
  background-color: var(--alert-color);
  animation-name: slide-down;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

/* Animations */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide-down {
  0% { transform: translateY(-300%) }
  50% { transform: translateY(0); }
  100% { }
}
